{% comment %}
  Renders a product media modal. Also see 'product-media-gallery'

  Accepts:
  - product: {Object} Product liquid object
  - variant_images: {Array} Product images associated with a variant

  Usage:
  {% render 'product-media-modal' %}
{% endcomment %}

<product-modal id="ProductModal-{{ section.id }}" class="product-media-modal media-modal">
  <div
    class="product-media-modal__dialog"
    role="dialog"
    aria-label="{{ 'products.modal.label' | t }}"
    aria-modal="true"
    tabindex="-1"
  >
    <button
      id="ModalClose-{{ section.id }}"
      type="button"
      class="product-media-modal__toggle"
      aria-label="{{ 'accessibility.close' | t }}"
    >
      {% render 'icon-close' %}
    </button>

    {% assign has_color = false %}
    {% for option in product.options_with_values %}
      {% if option.name == 'Color' %}
        {% assign has_color = true %}
        {% for value in option.values %}
          {% assign color_name = product.title | append: '-' | append: value  %}
          <div
            class="product-media-modal__content color-background-1 gradient product-media-modal__swiper--{{ forloop.index0 }}"
            role="document"
            aria-label="{{ 'products.modal.label' | t }}"
            tabindex="0"
            data-media-color="{{ color_name }}"
            data-current-media="{% if color_name == product.selected_or_first_available_variant.featured_media.alt %}true{% else %}false{% endif %}"
          >
            <div class="swiper-wrapper">
              {%- liquid
                if product.selected_or_first_available_variant.featured_media != null
                  assign media = product.selected_or_first_available_variant.featured_media
                  if media.alt contains value
                    render 'product-media', media: media, loop: section.settings.enable_video_looping, variant_image: section.settings.hide_variants, slider: true
                  endif
                endif
              -%}
      
              {%- for media in product.media -%}
                {%- liquid
                  if section.settings.hide_variants and variant_images contains media.src or variant_images contains media.id
                    assign variant_image = true
                  else
                    assign variant_image = false
                  endif
      
                  unless media.id == product.selected_or_first_available_variant.featured_media.id
                    if media.alt contains value
                      render 'product-media', media: media, loop: section.settings.enable_video_looping, variant_image: variant_image, slider: true
                    endif
                  endunless
                -%}
              {%- endfor -%}
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </div>
        {% endfor %}
      {% endif %}
    {% endfor %}
    {% unless has_color %}
      <div
        class="product-media-modal__content color-background-1 gradient product-media-modal__swiper--0"
        role="document"
        aria-label="{{ 'products.modal.label' | t }}"
        tabindex="0"
        data-media-color="{{ product.selected_or_first_available_variant.media.alt }}"
        data-current-media="true"
      >
        <div class="swiper-wrapper">
          {%- liquid
            if product.selected_or_first_available_variant.featured_media != null
              assign media = product.selected_or_first_available_variant.featured_media
              render 'product-media', media: media, loop: section.settings.enable_video_looping, variant_image: section.settings.hide_variants, slider: true
            endif
          -%}
  
          {%- for media in product.media -%}
            {%- liquid
              if section.settings.hide_variants and variant_images contains media.src or variant_images contains media.id
                assign variant_image = true
              else
                assign variant_image = false
              endif
  
              unless media.id == product.selected_or_first_available_variant.featured_media.id
                render 'product-media', media: media, loop: section.settings.enable_video_looping, variant_image: variant_image, slider: true
              endunless
            -%}
          {%- endfor -%}
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
    {% endunless %}
  </div>
</product-modal>
